/* Navigation  */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size:1rem;
    padding: 0px 7px;
    padding-bottom: 3px;

}
/* home section */
#home{
    height:394px;
    
}

#home::before{
    height:530px;
    
}

#home {
    font-size: 10px;
    padding: 3px 64px;
}

/* services section */
#services{
    flex-direction: column;
}

#services .box{
    padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px;
    margin-right: 2px;
}

/* client section */
#clients{
    flex-wrap: wrap;
}

#clients{
    flex-wrap: wrap;
}

#clients img{
    height:70px;
}


/* contact us section */
#contact-box form{
    width:80%;
}

/* footer */


/* utility classes */

.h-primary{
    font-size: 28px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}